@font-face {
    font-family: "helvetica";
    src: url("/fonts/helveticaneue.ttf");
}
@font-face {
    font-family: "font2";
    src: url("/fonts/helveticaneue-medium.ttf");
}
@font-face {
    font-family: "degular";
    src: url("https://use.typekit.net/af/fbbea0/00000000000000007735c876/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n8&v=3");
}
*{
    background-color: #151414;
    color: #F3C77C; 
    margin: 0;
    padding: 0;
}

body,html{
    height: 100%;
    width: 100%;

}
#loader{
    background-color: #F3C77C;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#loader h3{
    color: #151414;
    font-family: "helvetica";
    background-color: #F3C77C;
    opacity: 0;
}
#loader img{
    height: 35vh;
    background-color: #F3C77C;
    width: auto;
    animation: spin 2s linear infinite;
}
/* #main{
    height: 100%;
    width: 100%;
} */

#nav{
    display: flex;
    z-index: 99;
    position: relative;
    justify-content: space-between;
    align-items: center;
    padding: 1.4vw 1.5vw;
}
#nav-part2{
    display: flex;
    gap: 6vw;
    padding-left: 1vw;
    font-family: "helvetica";
    font-size: 1.5vw;
}
#nav-part2 #h4{
    color: #E7CFB1;
    text-decoration: none;
    font-weight: 400;
}

#page1{
    min-height: 100vh;
    width: 100%;   
    align-items: center;
    text-align: center;
}
#page1 span {
    font-size: 50vw;
    display: inline-block;
    position: relative;
    font-weight: 900;
    font-family: "degular";
    z-index: 9;
    line-height: 0.5999;
    letter-spacing: -2px; /* new: tightens horizontal space */
    margin-right: -0.5vw; /* optional: reduce gap between spans */
}

#page1 h2{
    font-size: 2.6vw;
    font-family: "helvetica";
    letter-spacing: -1px;
    color: #F3C77C;
    font-weight: 100;
    text-transform: uppercase;
    /* top: -10vh; */
}
#page1 #first{
    padding-top: 20vh;
}
#page1 #second{
    line-height: 0.98;
    padding-bottom: 10vh;
}

#page2{
    height: 100vh;
    width: 100%;
    background-color: #151414;
}
#page2 video{
    height: 100%;
    width: 40%;
    object-fit: cover;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

#page3{
    height: 100vh;
    width: 100%;
}
#page4{
    height: 100vh;
    width: 100%;
    background-color: #9AC1CB;
}
#page4 h1{
    background-color: transparent;
    color: #151414;
    font-family: "font2";
    font-size: 80vh;
    font-weight: 500;
    letter-spacing: -1vw;
    text-transform: uppercase;
}
#page5{
    height: 100vh;
    width: 100%;
    background-color: #151414;
}
